@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  font-family: "Mulish", sans-serif;
  background: #dbe2ef;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.title {
  margin: 1em 1em 0 0.5em;
  padding: 0;
  text-align: center;
}

.inpContainer {
  position: relative;
}

.mdInput {
  background-color: #dbe2ef;
  outline: none;
  resize: none;
  height: 80vh;
  width: 48vw;
  padding: 1em;
  margin-left: 1em;
  border: 1px solid black;
}

.mdInput::placeholder {
  font-size: 20px;
}

.mdOutput {
  background-color: #dbe2ef;
  height: 84vh;
  width: 48vw;
  padding: 0 1em;
  /* margin-top: 2.5em; */
  margin-left: 1em;
  border: 1px solid black;
}

.mdOutput:empty::after {
  content: "Your output preview will be here";
  color: grey;
  margin-top: 1em;
  font-size: 20px;
  color: -internal-light-dark(black, white);
  display: block;
}

.copy {
  position: relative;
  white-space: nowrap;
  left: 1em;
  width: 5em;
  box-shadow: none;
  outline: 0;
  border: 1px solid black;
  border-radius: 0.3em;
}

.copy:hover {
  background: transparent;
}

.copy::before {
  content: attr(data-tool-tip);
  position: absolute;
  bottom: 2em;
  left: -0.1em;
  opacity: 0;
  transition: all 150ms ease-out;
}

.copy:hover::before {
  opacity: 1;
}
